head
body
<h1>Ajouter une ville</h1>
<form name="add-city" action="city" method="post">
<pre>Saisir le nom de la ville :<br />
<input type="text" name="name" value="" /></pre>
<input type="submit" value="Creer" />
</form>